body {
    margin: 0;
}

header {
    background-color: rgb(161, 115, 207);
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}


/*logo style*/
.logo {
    margin: 20px 20px 20px 20px;
    width: 200px;
}

/* Navigation style */
nav {
    margin: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.nav-links {
    color: #1f1d1d;
}

.nav-list :hover {
    color: #c05326;
}

.orderForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: auto;
    background: url('./img/kelly-sikkema-Z4GKcFAGck4-unsplash.jpg');
    padding: 10px;
    font-size: 1.5rem;
    background-position: left;
    
    
}

container img{
    
}

.checkbox {
    width: 10%;
    display: flex;
    flex-direction: row-reverse;
}

input,
select {
    margin-top: 10px;
    margin-bottom: 10px;
    background: rgb(168, 168, 221);
    height: 35px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
button{
    font-size: medium;
    height: 45px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    background: rgb(168, 168, 221);
}
.input:focus {
    background: red;
    border: 10px solid green;

}

footer {
    background-color: rgb(240, 235, 245);
    display: grid;
    grid-template-columns: 2fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
    gap: 20px;
}

.review {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: italic;
}

.images_socialMedia {
    width: 60px;
    height: 50px;
}

.contact,
.follow {
    margin: 10px;
}